body {
    font-family: 'B612', sans-serif;
    margin: 0px;
    padding: 0px;
    color: white;
    background: url('../image/bg.jpg');
}
.left{
    display: inline-block;
 
    position: absolute;
    left: 50px;
    top: 20px;

}

.left img{
    width: 80px;
    filter: invert(100%);

}
.left div{
    text-align: center;
    line-height: 10px;
    font-size: 20px;
    font-weight: 2px;
}
.mid{
    display: block;
    width: 45%;
    margin: 20px auto;
   

}
.right{
    position: absolute;
    right: 34px;
    top: 20px;
    display: inline-block;
    /*border: 2px solid yellow;*/

}

.btn{
    margin: 10px 9px;
    color: white;
    background-color: black;
    padding: 2px 14px;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    font-family: 'B612', sans-serif;
}
.btn:hover{
    background-color: rgb(88, 85, 85);
}
.form-group input{
    text-align: center;
    display: block;
    width: 300px;
    padding: 1px;
    border: 2px solid black;
    margin: 3px auto;
    font-size: 15px;
    border-radius: 5px;
}
.navbar{
    display: inline-block;

}
.navbar li{
    display: inline-block;
    font-size: 18px;
}
.navbar li a{
    color: white;
    text-decoration: none;
    padding: 34px 24px;
}
.navbar li a:hover, .navbar li a.active{
    text-decoration: underline;
    color: grey;
}
.container{
    border: 2px solid white;
    margin: 80px 50px;
    padding: 75px;
    width: 23%;
    border-radius: 28px;
}
#txt{
    font-size: 20px;
    text-align: center;
}
.container button{
    display: block;
    width: 98%;
    margin: auto;
}